body { background: #4a703; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 55px; display: flex; }
.block-product-0 { color: #b09772; font-size: 15px; margin-bottom: 5px; }
.block-email-1 { color: #b37e7f; font-size: 18px; margin-bottom: 5px; }
.block-email-2 { color: #f42c60; font-size: 20px; margin-bottom: 5px; }
.block-cache-3 { color: #3ed334; font-size: 20px; margin-bottom: 5px; }
.block-cart-4 { color: #15bbdd; font-size: 13px; margin-bottom: 5px; }